<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row">
           <div class="col-12 col-sm-12 col-lg-12" style="text-align: center;">
             <div class="panel panel-default">
               <div class="panel-body">
                 <h2 style="text-align: center;"><strong>Nathaniel Buechler</strong></h2>
                 <h6 style="text-align: center;"><i>JavaScript Engineer</i></h6>
                 <img class="default_img" src="images/default-hex.png"></img>
                 <hr>
                 <h6 style="text-align: center;">
                   As a cross-disciplinary professional, my specialties include the areas of Product Design, User Experience, Graphic Design, and Front-end Engineering. As I continue to hone my craft, some of my key background accomplishments include:
                 </h6>
                 <ul>
                   <li>7 years of coding experience, with more than 6 years in JavaScript including expertise in modern frameworks  such as React and AngularJS</li>
                   <li>4 years of User Experience and Product Design knowledge including 9 years of Graphic Design insight</li>
                 </ul>
               </div>
             </div>
           </div>
        </div>
        <br></br>
        <div class="row">
           <div class="col-12 col-sm-12 col-lg-12" style="text-align: center;">
             <div class="panel panel-default">
               <div class="panel-body">
                 <h2 style="text-align: center;"><strong>>30 Seconds</strong></h2>
                 <h6 style="text-align: center;"><i>About Me</i></h6>
                 <hr>
                 <h6 style="text-align: center;">
                   I think about problems with a unique and diverse perspective due to my experience with both commercial and government projects. While in previous roles:
                 </h6>
                 <ul>
                   <li>I actualized software components from the initial phases of conception to completion.</li>
                   <li>I realigned user interfaces to meet modern standards while maintaining clear user experiences.</li>
                   <li>I steered the engineering efforts to implement complex data visualizations, dynamic dashboards, and aesthetically pleasing layouts.</li>
                 </ul>
                 <h6 style="text-align: center;">
                   In addition to improving code quality, visual aspects of software, and functionality of systems, <br><i><u>I build systems which actually work for their audience.</u></i></h6>
                 <hr>
                 <h6 style="text-align: center;">
                   These are some of the companies I've collaborated with:
                   <div style="margin-top:8px; background: #FFF;">
                    <img class="company_logo" src="images/TwoSix.png"></img>
                    <img class="company_logo" src="images/Novetta.png"></img>
                    <img class="company_logo" src="images/DrFirst.png"></img>
                    <img class="company_logo" src="images/InfoZen.png"></img>
                   </div>
                 </h6>
                 <hr>
                 <h6>
                   Sometimes, someone says something nice about me:
                   <br>
                   <div class="nice_quote">
                     Nate is a UX Unicorn.... a gifted engineer with an eye for visual detail, sensitivity to the nuances of Human-Computer Interaction (HCI) and a hunger to learn and absorb new information that is instantly applicable to immediate problems he works to solve. Nate has been a critical addition to the Product Design Team in 2016, expanding our flexibility and depth of competency in service to our customers. In addition, he is incredibly easy to work with, showing up each morning with a smile and a solution. Highest marks!
                     <div style="margin-top: 8px; text-align: right; color: #888888;">
                       Michael Ciano, Sr Director of Product Design at Novetta, on March 8, 2017
                     </div>
                   </div>
                   <div class="nice_quote">
                     Nate is a masterful Senior UX Engineer. I had the pleasure of working with Nate at Novetta on the Product Design team. He is able to work effortlessly with both the design and engineering teams to perfectly translate wireframes and mockups into web applications. Nate has a remarkable background in graphic design. He effortlessly talks design, development, even philosophy. Any team would be lucky to have Nate.
                     <div style="margin-top: 8px; text-align: right; color: #888888;">
                       Zachary Friedman, Senior User Experience Designer at Novetta, on February 24, 2017
                     </div>
                   </div>
                   <div class="nice_quote">
                     Nate is an entrepreneurial mind with an impressive knack for understanding people that surround him and inspiring them to aspire for more. I had the pleasure of working under his leadership in several student organizations at UMBC, most of which he himself pioneered. Nate sports a skillful capacity to perceive & comprehend interdisciplinary concepts through an array of socio-cultural perspectives. Adept at breaking down and analyzing complex tasks; Nate never fails to strike a perfect balance between both pragmatism and idealism. His well-rounded personality and analytical skills are sure to make him an invaluable asset to any professional organization.
                     <div style="margin-top: 8px; text-align: right; color: #888888;">
                       Usitha Dheerasinghe, on November 21, 2016
                     </div>
                   </div>
                 </h6>
                 <h6>
                   <h5 class="well" style="text-align: center;">
                     <strong>Still Interested?</strong>
                     <a class="btn btn-md btn-default" href="/resume/Nathaniel_Buechler-Sr_UX_Engineer.pdf" style="color: white; margin: 10px;">
                       <i class="fa fa-1x fa-file-text"></i> Download my Résumé
                     </a>
                   </h5>
                 </h6>
               </div>
             </div>
           </div>
        </div>

    </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->
