<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="row">
             <div class="col-12 col-sm-12 col-lg-12" style="text-align: center;">
               <div class="panel panel-default">
                 <div class="panel-body">
                   <h2 style="text-align: center;"><strong>Nathaniel Buechler</strong></h2>
                   <h6 style="text-align: center;"><i>Principal Software Engineer</i></h6>
                   <img class="default_img" src="images/default-hex.png"></img>
                   <hr>
                   <h6 style="text-align: center;">
                     As a cross-disciplinary professional, my specialties include the areas of Product Design, User Experience, Graphic Design, and Front-end Engineering. As I continue to hone my craft, some of my key background accomplishments include:
                   </h6>
                   <ul>
                     <li>Over a decade of coding experience, with a mastery of JavaScript including expertise in modern frameworks such as React and Angular</li>
                     <li>7 years of User Experience and Product Design knowledge including 12 years of Graphic Design insight</li>
                   </ul>
                   <hr>
                   <h6 style="text-align: center;">
                     I think about problems with a unique and diverse perspective due to my experience with both commercial and government projects. While in previous roles:
                   </h6>
                   <ul>
                     <li>I actualized software components from the initial phases of conception to completion.</li>
                     <li>I realigned user interfaces to meet modern standards while maintaining clear user experiences.</li>
                     <li>I steered the engineering efforts to implement complex data visualizations, dynamic dashboards, and aesthetically pleasing layouts.</li>
                   </ul>
                   <h6 style="text-align: center;">
                     In addition to improving code quality, visual aspects of software, and functionality of systems, <br><i><u>I build systems which actually work for their audience.</u></i>
                   </h6>
                 </div>
               </div>
             </div>
          </div>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/container-->
</div>
